@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
  font-family: 'Space Grotesk', sans-serif;
}

/* header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(33, 35, 38, 0.1) 0vw 1.9vw 1.9vw -1.9vw;
}

#home{
  position: relative;
}
#home::before{
  content: '';
  position: absolute;
  left: 0.2vw;
  bottom: 0vw;
  background-color: #ceb736;
  height: 0.2vw;
  box-sizing: border-box;
  width: 5.5vw;
}

.navbar {
  width: 100%;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: sticky;
  top: 0;
  left:0;
  z-index: 50;
}


.navbar span {
  font-family: 'Oleo Script', cursive;
  font-size: 3.5vw;
  cursor: pointer;
  margin-left: 1vw;
}


.navbar-links ul{
  display: flex;
  list-style: none;
}

.navbar-links li {
  float: left;
  font-size: 2.1vw;
  color: black;
}

.navbar-links a {
  text-decoration: none;
  margin: 0px 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 300;
  transition: all 0.4s ease;
  margin-right:4.1vw;
}

/* end */

/* about us */
.about {
  width: 100%;
  height: 60vw;
}
.about .about-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.about .title{
  position: relative;
  text-align: center;
  font-size: 4vw;
  font-weight: 300;
  margin-top: 2.3vw;
  margin-bottom: 2.3vw;
  padding-bottom: 2.1vw;
  font-family: 'Oleo Script', cursive;
}
.about .title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 20vw;
  height: 0.1vw;
  background: #111;
  transform: translateX(-50%);
}
.about .title::after{
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 2.1vw;
  color: #ceb736;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
  content: "What We Offer You";
}

.about .about-content .left{
  width: 45%;
}
.about .about-content .left img{
  height: 36vw;
  width: 30vw;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right{
  width: 55%;
}
.about .about-content .right .text{
  font-weight: 400;
  margin-bottom: 10px;
}

.about .about-content .right p{
  text-align: justify;
  margin-right: 100px;
  font-size: 1.2vw;
}
/* end */
