@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
  font-family: 'Space Grotesk', sans-serif;
  background-color: #f1f1f1;
}

/* header section */
.header {
  padding: 1.5vw 0;
  box-shadow: rgba(33, 35, 38, 0.1) 0vw 1.9vw 1.9vw -1.9vw;
}

#home{
  position: relative;
}
#home::before{
  content: '';
  position: absolute;
  left: 0.1vw;
  bottom: 0vw;
  background-color: #268da3;
  height: 0.1vw;
  box-sizing: border-box;
  width: 4.8vw;
}

.navbar {
  width: 100%;
  height: 9vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: sticky;
  top: 0;
  left:0;
  z-index: 50;
}


.navbar span {
  font-family: 'Oleo Script', cursive;
  font-size: 3.9vw;
  cursor: pointer;
  margin-left: 3vw;
  font-weight: 300;
  color: #268da3;
  margin-bottom: 1.2vw;
}


.navbar-links ul{
  display: flex;
  list-style: none;
}

.navbar-links li {
  float: left;
  font-size: 1.7vw;
  color: black;
}

.navbar-links a {
  text-decoration: none;
  font-weight: 300;
  transition: all 0.4s ease;
  margin-right:4.1vw;
  margin-top: 2.1vw;
}

/* end */


/* searchpanel */
.search{
  font-size: 2.9vw;
  font-weight: 100;
  font-family: 'Oleo Script', cursive;
}

.para{
  font-size: 1.2vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}
#search-btn{
  background: #268da3;
  font-size: 1.4vw;
}

#searchpanel{
  margin-bottom: 1.2vw;
}

/* end */

/* about us */
.about {
  width: 100%;
  height: 100vh;
}
.about .about-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.about .title{
  position: relative;
  text-align: center;
  font-size: 4vw;
  font-weight: 300;
  margin-top: 2.3vw;
  margin-bottom: 2.3vw;
  padding-bottom: 2.1vw;
  font-family: 'Oleo Script', cursive;
}
.about .title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 20vw;
  height: 0.1vw;
  background: #111;
  transform: translateX(-50%);
}
.about .title::after{
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 2.1vw;
  color: #268da3;
  padding: 0 5px;
  background: #f1f1f1;
  transform: translateX(-50%);
  content: "What We Offer You";
}

.about .about-content .left{
  width: 45%;
}
.about .about-content .left img{
  height: 36vw;
  width: 30vw;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right{
  width: 55%;
}
.about .about-content .right .text{
  font-weight: 400;
  margin-bottom: 10px;
}

.about .about-content .right p{
  text-align: justify;
  font-size: 1.2vw;
}
/* end */

/* feedback section */
#input {
  margin-top: 1.2vw;
  padding: 0.5vw 0 0.8vw 1vw;
  width: 30vw;
  height: 5vw;
  border-radius: 1.1vw;
}

#input:focus {
  outline: none;
}

form {
  position: relative;
}

#submit {
  position: absolute;
  top: 1.8vw;
  margin-left: 15.2vw;
  border: none;
  padding: 1vw;
  margin-bottom: 3.1vw;
  background: #268da3;
  border-radius: 0.7vw;
}

#feedback{
  margin-left: 8.0vw;
  font-size: 1.2vw;
}
#submision{
  margin-bottom: 4.1vw;
  font-size: 1.3vw;
  font-weight: 100;
}
#list{
  margin-top: 1.2vw;
  margin-bottom: 1.2vw;
}

/* end */
#foodie{
  font-size: 1.7vw;
  position: relative;
  margin-left: 5.1vw;
  margin-bottom: 1.1vw;
  margin-top: 1.1vw;
}

#foodie::before{
  content: '';
  position: absolute;
  left: 2.9vw;
  bottom: -0.2vw;
  background-color: #268da3;
  height: 0.1vw;
  box-sizing: border-box;
  width: 4.8vw;
}
#mysearch{
  width: 100%;
}
#pic-food{
  width: 28%;
}
#ingri{
  width: 28%;
}
#prepea{
  width: 44%;
}
#youtube{
  font-size: 2.2vw;
  font-family: 'Oleo Script', cursive;
  position: relative;
  font-weight: 100;
}
/* #youtube::before{
  content: '';
  position: absolute;
  left: 37vw;
  bottom: -0.1vw;
  background-color: #ceb736;
  height: 0.2vw;
  box-sizing: border-box;
  width: 10.8vw;
} */
#mealName{
  font-family: 'Oleo Script', cursive;
  font-weight: 100;
  font-size: 1.5vw;
}

#foody{
  font-size: 1.5vw;
  font-family: 'Oleo Script', cursive;
  font-weight: 100;
  background: #f1f1f1;
}

#instructions{
  font-size: 1.2vw;
}

#area,
#tags{
  font-size: 1.1vw !important;
}

#iframe {
  position: relative;
}

#iframe iframe {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border: 3px solid black;
}

/* contact page */
.contact-us  {
  width: 80%;
  height: 100vh;
  margin: 6em auto 0 auto;
  display: flex;
}

.contact-message {
  width: 50%;
  padding: 2em;
}

.contact-message h1 {
  margin-bottom: 1em;
  font-size: 4.5vw;
  font-family: 'Oleo Script', cursive;
}
.contact-message p{
  font-size: 1.4vw;
}

.contact-form {
  width: 50%;
}


form {
  width: 80%;
  margin: 0 auto;
  font-size: 1.5vw;
}

.input-control {
  display: flex;
  flex-direction: column;
  margin-top: 1.2vw ;
}

.addpost {
  margin-top: 2em;
}
.input-control button {
  padding: 1.2vw;
  border: none;
  font-size: .9em;
  font-weight: 600;
  background-color: #268da3;
  color: white;
  border-radius: 1.3vw;
}

.input-control input {
  padding: 1vw 0;
  border: none;
  border-bottom: 1px solid black;
}

.input-control input:focus {
  outline: 0;
}

.input-control textarea {
  padding: 1vw 0;
  border: none;
  border-bottom: 1px solid black;
}

.input-control textarea:focus {
  outline: 0;
}
/* end */
@media (max-width: 768px) {
  .header,
  .navbar-links ul {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
    margin-top: -3vw;
    padding: -10vw;
    width: 100%;
  }
  #mysearch{
    width: 100%;
  }
  #pic-food{
    width: 33%;
    height: 1vw;
  }
  #ingri{
    width: 33%;
  }
  #prepea{
    width: 34%;
  }
  .about{
    margin-top: 15vw;
  }
  .contact-us{
    margin-top: 15vw;
  }
  .search{
    margin-top: 5vw;
  }
  #iframe iframe {
    width: 90vw;
    height: 40vw;
  }
}
